body{background-color:black}
img.header{display:block;margin-left:auto;margin-right:auto}
img.footer{margin-left:auto;margin-right:auto;margin-top:80px;display:block}
img.heroes{margin-left:40%;position:relative}
img.gif{margin-left:60%;margin-right:15%;position:absolute;top:400px}
img.skill{display:block;margin-left:auto;margin-right:auto}


div.name{text-align:left;text-indent:250px;color:lightblue;font-size:24px}
div.char{text-align:left;text-indent:250px;color:gold;font-size:20px}
div.background{color:white;font-size:16px}
div.skill{color:gold;font-size:20px}
div.skillinfo{color:white;font-size:16px}
div{text-align:center;color:lightblue;font-size:24px;margin-left:20%;margin-right:20%}
div.stats{color:white;font-size:12px}

a{color:cornflowerblue}
a.neutral{color:white}
a.scourge{color:coral}

input.first{margin-left:35%}